/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
@font-face {
    font-family: "Kanit";
    src:
        url("/fonts/kanit-regular-webfont.woff2") format("woff2"),
        url("/fonts/kanit-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src:
        url("/fonts/kanit-bold-webfont.woff2") format("woff2"),
        url("/fonts/kanit-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    height: 100vh;
}

/* Styles */
body {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
}

.sidebar {
    grid-row: 1 / span 3;
    grid-column: 1;
    background-color: rgb(105, 103, 103, 0.2);
    backdrop-filter: blur(10px);
    color: black;
    padding: 1em;
    height: 100%;

    box-shadow:  0 2px 4px rgba(0,0,0,0.1),
                 0 4px 8px rgba(0,0,0,0.1),
                 0 8px 16px rgba(0,0,0,0.1);
}

.sidebar div {
    display: flex;
    align-items: center;
    gap: 2px;
}

svg {
    height: 2em;
    fill: currentColor;
}

.header {
    grid-row: 1;
    grid-column: 2;
    background-color: black;
    box-shadow:  0 2px 4px rgba(0,0,0,0.1),
                 0 4px 8px rgba(0,0,0,0.1),
                 0 8px 16px rgba(0,0,0,0.1);

    display: grid;
    grid-template-rows: 1fr 2fr;
}

.search-profile {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 40%;
}

.search button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
.search input {
    background-color: transparent;
    border: transparent;
    color: white;
    padding: 0.5em;
    border-radius: 15px;
    width: 100%;
}

.profile img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}

.profile p {
    font-weight: 700;
}

.header svg {
    height: 2em;
    fill: white;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  

.main {
    grid-row: 2;
    grid-column: 2;
}

